[flake8]
max-line-length = 120
exclude = .git,__pycache__,docs/source/conf.py,old,build,dist,venv,.github,.tox,.eggs,*.egg-info,.mypy_cache,.pytest_cache,.vscode,.vscode-test,.vscode-test-remote,.vscode-test-remote-ssh